{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
        {% if Stories|length == 0 %}
            <div class="wrap" style="display: block;">
                {% if Flag == 1 %}
                    <h2>My List</h2>
                    <div class="story">
                        <p>You have not written any Stories yet.</p>
                    </div>
                {% elif Flag == 2 %}
                    <h2>Read-list</h2>
                    <div class="story">
                        <p>You have not read any Stories yet.</p>
                    </div>
                {% else %}
                    <h2>Liked Stories</h2>
                    <div class="story">
                        <p>You have not liked any Stories yet.</p>
                    </div>
                {% endif %}

                <div class="side-nav">
                    <br>
                    <h3 class="title">Other Popular genres</h3>
                    {% for genre in Genres %}
                        {% if forloop.counter <= 10 %}
                            <a class="genre" href="{% url 'genre_stories' genre_name=genre.name %}">{{ genre.name }}</a>
                        {% endif %}
                    {% endfor %}
                    <a class="genre" href="{% url 'genres' %}" style="background-color: #00000059; color: white;">more</a>
                </div>
            </div>
        {% else %}
            <div class="wrap">
                <div class="genre-stories">
                    {% if Flag == 1 %}
                        <h2>My List</h2>
                    {% elif Flag == 2 %}
                        <h2>Read-list</h2>
                    {% else %}
                        <h2>Liked Stories</h2>
                    {% endif %}
                    <div class="stories-list">
                        {% for story in Stories %}
                            <a class="story" href="{% url 'story_details' story_id=story.story_id %}">
                                <div class="cover">
                                    <img src="{{ story.cover_image.url }}" alt="Book Cover">
                                </div>
                                <div class="details">
                                    <h3>{{ story.title }}</h3>
                                    {% for genre in story.genre_id.all %}
                                        <p class="genre">{{ genre.name }}</p>
                                    {% endfor %}
                                    <p class="author">By {{ story.author.profile.pen_name }}</p>
                                    <p class="date">{{ story.created_at|date:"F d, Y" }}</p>

                                    {% if story.description|length < 150 %}
                                        <p>{{ story.description }}</p>
                                    {% else %}
                                        <p>
                                            {{ story.description|slice:":150" }} 
                                            <strong>See more...</strong>
                                        </p>
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    </div> 
                </div> 

                <div class="side-nav">
                    <br><br><br>
                    <h3 class="title">Popular genres</h3>
                    {% for genre in Genres %}
                        {% if forloop.counter <= 10 %}
                            <a class="genre" href="{% url 'genre_stories' genre_name=genre.name %}">{{ genre.name }}</a>
                        {% endif %}
                    {% endfor %}
                    <a class="genre" href="{% url 'genres' %}" style="background-color: #00000059; color: white;">more</a>
                </div>
            </div>
        {% endif %}
        {% block styles %}
            <link rel="stylesheet" href="{% static 'css/stories.css' %}">
        {% endblock %}
    {% endblock %}
</body>
</html>