*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans';
}

a{
    color: inherit;
    text-decoration: none;
}

.head-title{
    font-weight: 500;
    font-size: xx-large;
    font-family: 'Brush Script MT', cursive;
}

.navbar{
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    box-shadow: 2px 2px 10px #888888;
}

.navbar button{
    border: none;
    margin: 10px;
    color: inherit;
    font-weight: bold;
    background-color: inherit;
}

.navbar button a{
    padding: 20px 0;
}

.navbar .search{
    border-style: double;
    border-radius: 8px;
    border-color: #93939391;;
}

@media only screen and (max-width: 750px) {
    .navbar .search{
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    .navbar .search{
        display: block;
    }
}

.navbar .search i:hover{
    font-size: medium;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    color: inherit;
    padding: 16px 0;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(56, 56, 56);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.search-bar{
    margin: 20px;
    padding: 0 10px;
    text-align: right;
}

.search-bar button{
    margin: 10px;
    color: white;
    font-weight: bold;
    background-color: black;
}

@media only screen and (max-width: 750px) {
    .search-bar{
        display: normal;
    }
}

@media only screen and (min-width: 750px) {
    .search-bar{
        display: none;
    }
}

footer{
    color: white;
    padding: 0 20%;
    text-align: center;
    background-color: black;
}

footer .footer-content{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    footer .footer-content{
        display: block;
    }
}

@media only screen and (min-width: 900px) {
    footer .footer-content{
        display: flex;
    }
}

footer h2{
    font-family: cursive;
}

footer h2:hover{
    text-decoration: underline;
    text-decoration-style: double;
}

footer div{
    display: block;
    padding: 0 2% ;
}

footer div a{
    list-style: none;
    display: list-item;
    padding-bottom: 10px;
}

footer div a:hover{
    color: rgba(255, 255, 255, 0.514);
}

footer .col-2 .col-a,
footer .col-2 .col-b{
    padding: 0 25px;
    list-style: none;
    display: inline-block;
}