{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

    <script src="https://kit.fontawesome.com/704721be89.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                <h2 style="text-align: center;">Create Story</h2>
                <div class="wrap">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="btn-field">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>

        <link rel="stylesheet" href="{% static 'css/create_user.css' %}">
        {% block styles %}
            <style>
                .navbar{
                    box-shadow: none;
                }

                form{
                    text-align: left;
                }

                .wrap{
                    padding: 3% 60px;
                }

                input{
                    padding: 10px 8px;
                    margin: 10px 15px;
                    background-color: rgba(255, 255, 255, 0.6);
                }
            </style>
        {% endblock %}
    {% endblock %}
</body>
</html>